<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
    <CodeSnippet Format="1.0.0">
        <Header>
            <Title>CREATE PROCEDURE</Title>
            <Shortcut>proc</Shortcut>
            <Description>Tạo Stored Procedure cơ bản</Description>
            <Author>DBI202</Author>
        </Header>
        <Snippet>
            <Code Language="SQL">
                <![CDATA[
CREATE PROCEDURE $ProcName$
    @Param1 $DataType1$
AS
BEGIN
    SELECT $Col1$, $Col2$
    FROM $TableName$
    WHERE $Col1$ = @Param1;
END;
$end$
                ]]>
            </Code>
        </Snippet>
    </CodeSnippet>
</CodeSnippets>
